<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>500PX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA2CBFD91F1777F300853215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA2CBFED1F1777F300853215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA2CBFF81F1777F300853215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
